{
  "extends": "airbnb-base",
  "rules": {
    "indent": ["error", 4],
    "no-param-reassign": "off",
    "no-shadow": "off",
    "import/prefer-default-export": "off",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "env": {
    "browser": true,
    "qunit": true
  }
}
