{
  "extends": "airbnb-base",
  "rules": {
    "indent": ["error", 4],
    "no-param-reassign": "off",
    "no-shadow": "off",
    "import/prefer-default-export": "off"
  },
  "env": {
    "browser": true
  }
}
