{
  "extends": ["airbnb-base"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "rootMode": "upward"
    }
  },
  "env": {
    "browser": true,
    "qunit": true
  },
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1}],
    "no-param-reassign": 0,
    "no-shadow": 0,
    "import/prefer-default-export": 0,
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0
  }
}
