.DS_Store
.env
.idea/
.vscode/
*.iml
node_modules/
private
tmp/
output.md
tests/dist/
browserstack.err
local.log

# linters cache
.eslintcache

tsconfig.tsbuildinfo
.pnpm-store/
dist/
artifacts/

.npmrc
*.tgz
