// this config is used to check compatibility with browsers
{
  "extends": [
    "plugin:compat/recommended"
  ],
  "rules": {
    "no-restricted-properties": [
      2,
      {
        "property": "includes"
      },
      {
        "property": "startsWith"
      },
      {
        "property": "endsWith"
      }
    ]
  }
}
