{
    "extends": [
        "../.eslintrc",
        "plugin:compat/recommended"
    ],
    "rules": {
        "no-restricted-properties": [
            "error",
            {
                "property": "includes"
            },
            {
                "property": "startsWith"
            },
            {
                "property": "endsWith"
            }
        ]
    }
}
