name: Test Scriptlets

env:
  NODE_VERSION: 22.14.0
  PNPM_VERSION: 10.7.1

on:
  push:
    branches:
      - master
    tags:
      - "v*.*.*"

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false

      - name: Use Node.jobs
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: pnpm install
        run: pnpm install

      - name: pnpm lint
        run: pnpm lint

      - name: pnpm test
        run: pnpm test

      - name: pnpm build
        run: pnpm build

  notify:
    name: Send Slack notification on failure
    needs: build
    # Run this job only if the previous job failed and the event was triggered by the 'AdguardTeam/Scriptlets' repository
    # Note: 'always()' is needed to run the notify job even if the test job was failed
    if:
      ${{
        always() &&
        needs.check_code.result == 'failure' &&
        github.repository == 'AdguardTeam/Scriptlets' &&
        (
          github.event_name == 'push' ||
          github.event_name == 'workflow_dispatch' ||
          github.event.pull_request.head.repo.full_name == github.repository
        )
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack notification
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          fields: workflow, repo, message, commit, author, eventName, ref, job
          job_name: check_code
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
